:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

body {
    color: white;
    background: rgb(27, 27, 27); 
    margin: 50px 30px;
}

h1 {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 70px;
}

h2 {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 25px;
    margin: 20px;
}

.hero {
    padding: 125px 0px;
}

.hero p {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 20px;
    margin: 20px;
    margin-bottom: 55px;
}

.para {
    background: rgb(33, 33, 33);
    padding: 15px;
    text-align: center;
}

.para-2 {
    background: rgb(33, 33, 33);
    padding: 10px 25px;
}

.site-img {
    max-width: 80%;
}

a {
    display: block;
    margin: auto;
    width: 200px;
    text-align: center;
    color: white;
    border: 1px solid #bf4468;
    background: #bf4468;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
}
.intro {
    text-align: center;
}

.about-h1 {
    font-size: 40px;
}

.about-h2 {
    font-family: var(--secondary-font);
    font-size: 17px;
}

@media (max-width: 820px) {
    h1 {
        font-size: 45px;
    }
    .hero p {
        font-size: 15px;
    }
    .hero {
        text-align: center;
        padding: 5px;
        margin: 5px;
    }
    .project-description {
        padding: 50px;
    }
    .intro {
        font-size: 13px;
    }
    .about-page {
        margin: 0;
        padding: 0;
    }
    .about-desc {
        font-size: 15px;
        text-align: center;
    }
    .para-2 {
        text-align: center;
        font-size: 13px;
        margin: 0;
    }
    .about-me {
        position: relative;
        left: -90px;
    }
}

.home-link {
    margin-top: 55px;
}

.about-me {
    width: 300px;
    margin: 0 125px;
}

.about-desc {
    margin: 65px 0;
}