:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --gradient: linear-gradient(109.6deg, rgb(41, 125, 182) 3.6%, rgb(77, 58, 151) 51%, rgb(103, 55, 115) 92.9%);
}

body {
    color: white;
    background: black;
    margin: 25px 30px;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

h1 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 70px;
}

h2 {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 25px;
    margin: 20px;
}

.hero {
    padding: 85px 0px;
}

.hero p {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 20px;
    margin: 20px;
    margin-bottom: 55px;
    
}



.para {
    padding: 15px;
    text-align: center;
    line-height: 2;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 4px;
   
}

.site-img {
    max-width: 80%;
}

.link-style {
    display: block;
    margin: auto;
    width: 200px;
    text-align: center;
    color: white;
    background: hsl(317 100% 54%);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.link-style:hover {
text-decoration: underline;
color: hsl(317 100% 54%);
background: white;
font-weight: bold;
border: 2px solid hsl(317 100% 54%);
}

.intro {
    text-align: center;
}

@media (max-width: 820px) {
    h1 {
        font-size: 45px;
    }
    .hero p {
        font-size: 15px;
    }
    .hero {
        text-align: center;
        padding: 5px;
        margin: 5px;
    }
    .project-description {
        padding: 50px;
    }
    .intro {
        font-size: 13px;
        margin-top: 50px;
    }
    .projects-link {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .work-h1 {
        margin-bottom: 25px;
    }
    .work-img {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .weather-img {
        margin-bottom: 25px;
    }
    nav a {
        font-size: 13px;
        margin: 0;
    }
    .neon-button {
        width: 35%;
        
    }
}

.work-h1 {
    font-family: var(--primary-font);
}

.work-top {
    color: #bf4468;
    font-weight: bold;
}

.about-h1 {
    font-size: 64px;
    line-height: 80px;
}

.about-h2 {
    font-size: 18px;
}


.about-para {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    line-height: 2;
    border: 1px solid white;
    border-radius: 4px;
}
.about-section {
    padding: 100px 20px;
}

.work-section {
    padding: 25px;
}

.work-home-link {
    margin-top: 50px;
}

.my-work-link {
    margin-top: 25px;
}

.contact-h1 {
    letter-spacing: 10px;
}

.contact-email {
    font-size: 13px;
    padding: 15px;
}

.contact-linkedin {
    font-size: 18px;
}

.contact-phone:hover {
    cursor: default;
    color: white;
}

.contact-content {
    padding: 75px;
}

.contact-home-link {
    margin-top: 100px;
}

.contact-work-link {
    margin-top: 50px;
}

nav {
    font-weight: bold;
}

nav li {
    list-style: none;
    display: inline;
    margin-left: 15px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #0D6EFD;
    text-decoration: underline;
    font-weight: bold;
}

.nav-bar {
    font-size: 17px;
    font-weight: bold;
    font-family: var(--secondary-font);
}

footer {
    line-height: 1.5;
    border: 1px solid hsl(317 100% 54%);
    border-radius: 4px;
    background: white;
    padding: 15px;
}

.footer-h4 {
    font-size: 35px;
    color: hsl(317 100% 54%);
    font-family: var(--secondary-font);
    letter-spacing: 7px;
}

.footer-p {
    font-size: 15px;
    font-family: var(--secondary-font);
    color: hsl(317 100% 54%);
}


.social-links a {
    text-align: center;
    color:hsl(317 100% 54%);
    margin: 0 20px;
}

.social-links {
    text-align: center;
}

.footer-email-link {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.footer-email-link:hover {
    color: blue;
    text-decoration: underline;
}

.social-links a:hover {
    color: #0D6EFD;
}
